<%= link_to "Create New Poll", new_poll_path, class: "btn-home-create pull-right btn btn-mini btn-info" %>

<table class="table table-striped table-bordered">
  <tr>
    <th>Poll Name</th>
    <th>View Poll</th>
  </tr>
  <% @polls.each do |poll| %>
    <tr>
      <td><%= poll.name %></td>
      <td><%= link_to "Details", poll_path(poll) %></td>
    </tr>
<% end %>
</table>